.parent{
    border-spacing: 0px;
}
.children{
    height: 80px;
    border-spacing: 0px;
    /* margin-top: 10px;   */
    /* margin-bottom: 60px; */
}
:root{
    --text-color-input: blue;
    --font-size-input: 14px;
    --text-color-title: #CCCC99;
    --font-size-title: 12px;
}

.inf{
    font-size: var(--font-size-input);
    color: var(--text-color-input);
    padding-left: 5px;
    padding-right: 50px;
}
.title{
    font-size: var(--font-size-title);
    color: var(--text-color-title);
    height: 30px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    position: relative;
  }
  th {
    background-color: #f2f2f2;
  }
  select {
    width: calc(100% - 20px);
    position: absolute;
    top: 8px;
    left: 10px;
  }

  .table-container {
    display: flex;
    justify-content: space-around;
    height: 10px;
  }
  .table-container .th{
    height: 100;
    /* display: flex;
    justify-content: space-around; */
}